body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.styled {
    color: magenta;
    font-size: 20px
}

.changeColor {
    background-color: #ffd1dc;
}

#api-list {
    list-style-type: none;
}

#api-list > li {
    margin-bottom: 10px;
}